<div class="nav-container">
  <div class="link-container">
    <a routerLink="/workouts" routerLinkActive="activePage">Routines</a>
  </div>
  <div class="link-container" routerLinkActive="activePage">
    <a routerLink="/excersises" routerLinkActive="activePage">Excersises</a>
  </div>

  <i class="fa-solid fa-dumbbell"></i>

  <div class="link-container">
    <a routerLink="/social" routerLinkActive="activePage">Socials</a>
  </div>
  <div class="link-container">
    <a routerLink="/profile" routerLinkActive="activePage">Profile</a>
  </div>
</div>
<app-login class="login-icon"></app-login>

<router-outlet></router-outlet>