/* nav-bar */
.nav-container {
    width: 80%;
    margin: 0 auto;
    height: 5rem;
    background-color: var(--lightGreen);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.fa-solid {
    font-size: 3rem;
    color: var(--darkGrey);
    border-radius: 5rem;
    transition: all 400ms ease-in-out;
}
.fa-solid:hover {
    color: red;
}
/* Routing links / active state */
a {
    text-decoration: none;
    color: var(--darkGrey);
    font-weight: 600;
    transition: all 200ms ease-in-out;
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    font-size: 1.1rem;
}
a:active {
    color: var(--lightGreen);
    font-size: 1rem;
}
.activePage {
    background-color: var(--darkGrey);
    color: var(--lightGreen);
}
/* Route links container */
.link-container {
    height: 2rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: red;
}